<div class="container">
  <div class="dropdown" #investorDropdown>
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Investor
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let investor of investorNames" class="dropdown-item" (click)="dropDownItemOnClick(investor.slug)">
        {{ getInvestorName(investor.slug) }}
      </a>
    </div>
  </div>
  <pre></pre>
  <hr>
  <table class="investors">
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Round</th>
    </tr>
    <tr *ngFor="let investment of investors; let i = index">
      <td>{{i + 1}}</td>
      <td>{{investment.company}}</td>
      <td>{{investment.date}}</td>
      <td>${{investment.amount}}M</td>
      <td>{{investment.round}}</td>
    </tr>
  </table>
</div>
