.investors {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-collapse: collapse;
  width: 100%;
}

.investors td,
.investors th {
  border: 1px solid #ddd;
  padding: 8px;
}

.investors tr:nth-child(even) {
  background-color: #f2f2f2;
}

.investors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5B6CA6;
  color: white;
  font-weight: normal;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #DDDDDD;
  color: black;
}
