<div class="container">
  <div class="dropdown" #investorDropdown>
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Investor
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" #item1 (click)="dropDownItemOnClick(item1.id)" id="accel_partners">Accel Partners</a>
      <a class="dropdown-item" #item2 (click)="dropDownItemOnClick(item2.id)" id="andreessen_horowitz">Andreessen Horowitz</a>
    </div>
  </div>
  <pre></pre>
  <hr>
  <table class="investors">
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Round</th>
    </tr>
    <tr *ngFor="let investment of investors; let i = index">
      <td>{{i + 1}}</td>
      <td>{{investment.company}}</td>
      <td>{{investment.date}}</td>
      <td>${{investment.amount}}M</td>
      <td>{{investment.round}}</td>
    </tr>
  </table>
</div>
